<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Page</title>
    <link rel="stylesheet" type="text/css" href="/css/attendance-page.css"> <!-- Add your CSS file path -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="greeting">
            <h1> IIT Mandi Attendance system</h1>
        </div>
        <div class="logo">
        <img src="/images/logo_hires.png">
        </div>
        <!-- <div class="nav-links">
            
            <ul>
                <li> <a href="#"> ABOUT</a></li>
                <li> <a href="#"> CONTACT</a></li>       
            </ul>
        </div> -->
        <div class="viml">
            <img src="/images/viml.jpg" alt="">
        </div>
    </div>
    <header>
        <h1 id="courseHeading">Course 1</h1>
        <button id="newButton">x</button> <!-- New button added -->
    </header>
    <div id="attendance-container">
        <!-- Attendance data will be populated here dynamically -->
    </div>

    <!-- <button id="backButton">Back to Calendar</button> -->
    <button id="backButton">Back</button>
    <div class="footer">
        <div class="bottom-logo">
            <img src="/images/logo_hires.png" alt="">
        </div>
        <div class="footer-content">
            <p class="Contact">Developed By :</p>
            <p>Group-36</p>
            <p>Visual Intelligence and Machine Learning Group</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024- Design Practicum, IIT Mandi</p>
    </div>

    <script src="./js/attendance-page.js"></script> <!-- Add your JavaScript file path -->
</body>
</html>

