<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/firebase.js" type="module"></script>
    <script src = "js/check_authentication.js" type = "module"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Attendance System</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="greeting">
            <h1> IIT Mandi Attendance system</h1>
        </div>
        <div class="logo">
        <img src="/images/logo_hires.png">
        </div>
        <!-- <div class="nav-links">
            
            <ul>
                <li> <a href="#"> ABOUT</a></li>
                <li> <a href="#"> CONTACT</a></li>       
            </ul>
        </div> -->
        <div class="viml">
            <img src="/images/viml.jpg" alt="">
        </div>
    </div>
    
    <main>
        <div class="container">
            <div class="search-bar">
                <input type="search" placeholder="Search Courses">
                <i class='bx bx-search-alt-2'></i>
            </div>
            <div class="course-list">
                <div class="course">
                    <!-- <h2><a href="/course-portal.html?courseName=Course-1: IC-000">Course-1: IC-000</a></h2>
                    <p>Course Slot : A</p> -->
                </div>
                <!-- <div class="course">
                    <h2><a href="/course-portal.html?courseName=Course-2: IC-001">Course-2: IC-001</a></h2>
                    <p>Course Slot : B</p>
                </div>
                <div class="course">
                    <h2><a href="/course-portal.html?courseName=Course-3: IC-002">Course-3: IC-002</a></h2>
                    <p>Course Slot : C</p>
                </div>
                <div class="course">
                    <h2><a href="/course-portal.html?courseName=Course-4: IC-003">Course-4: IC-003</a></h2>
                    <p>Course Slot : D</p>
                </div> -->
            </div>
            <div class="see-all-courses">
                <a href="#">See All Courses >></a>
            </div>
        </div>
    </main>
    
    <div class="footer">
        <div class="bottom-logo">
            <img src="/images/logo_hires.png" alt="">
        </div>
        <div class="footer-content">
            <p class="Contact">Developed By :</p>
            <p>Group-36</p>
            <p>Visual Intelligence and Machine Learning Group</p>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024- Design Practicum, IIT Mandi</p>
    </div>
    
</body>
<script src="js/script.js"></script>
</html>
