<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course-portal</title>
    <link rel="stylesheet" type="text/css" href="/css/course-portal1.css">
</head>
<body>
    <header>
        <h1 id="courseHeading">Student Details</h1>
    </header>
    
    <main>
        <section class="left">
            <h3>Enter the follwing Details</h3>
            <form id="student data">
                <!-- <div class="form-group">
                    <label for="StudentName">Student Name:</label>
                    <input type="text" id="StudentName" required>
                </div> -->
                <br>
                <div class="form-group">
                    <label for="images">Upload Image:</label>
                    <input type="file" id="images" accept="image/*" required >
                </div>
                <br>
                <div class="form-group">
                    <input type="checkbox" id="confirmation">
                    <label for="confirmation">I confirm above details.</label>
                </div>
                <br>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
     
</body>
<script src="/public/js/test.js"></script>

<!-- <script>
    await fetch(/api/get_attendance, {
        headers: {
            "Authorization": Bearer ${localStorage.getItem("idtoken")}
        }
    })
</script> -->
</html>