<!DOCTYPE html>
<html>
<head>
  <title>Course Selection</title>
    <!-- <link rel="stylesheet" href="course_list.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/course_registration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="greeting">
        <h1> IIT Mandi Attendance system</h1>
    </div>
    <div class="logo">
    <img src="/images/logo_hires.png">
    </div>
    <!-- <div class="nav-links">
        
        <ul>
            <li> <a href="#"> ABOUT</a></li>
            <li> <a href="#"> CONTACT</a></li>       
        </ul>
    </div> -->
    <div class="viml">
        <img src="/images/viml.jpg" alt="">
    </div>
</div>
  <div class="container">
  <h2>Course List</h2>
  <select id="courseList">
    <option disabled selected>Select new course</option>
  </select>
  <button id="enrollButton">Enroll</button>
  <script>
    // Fetch course names from the API
    fetch('/api/student_courses',{
      headers: {
          // 'Content-Type': 'application/json'
          Authorization: `Bearer ${localStorage.getItem("idtoken")}`
        }
    })
      .then(response => response.json())
      .then(data => {
        const courseList = document.getElementById('courseList');
        data.forEach(course => {
          const option = document.createElement('option');
          // option.value = course.course_name;
          // option.text = course.course_name;
          option.value = `${course.course_name}_${course.academic_year}_${course.semester}`;
          option.text = `${course.course_name}_${course.academic_year}_${course.semester}`;
          courseList.add(option);
        });
      })
      .catch(error => console.error('Error:', error));

    // Add an event listener to the enroll button
    document.getElementById('enrollButton').addEventListener('click', () => {
      const selectedCourse = document.getElementById('courseList').value;

      // Check if a course is selected before enrolling
      if (selectedCourse === 'Select new course') {
        alert('Please select a course');
        return;
      }

      // const studentId = 'B22065'; // Replace with the actual student ID

      // Send the selected course and student ID to the backend
      fetch('/api/student_enroll', {
        method: 'POST',
        headers: {
          Authorization: `Bearer ${localStorage.getItem("idtoken")}`,
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({courseName: selectedCourse })
      })
        .then(response => response.json())
        .then(data => {
          // Display an alert message based on the response
          alert(data.message);
          window.location.href = 'student_front.html';
        })
        .catch(error => console.error('Error:', error));
    });
  </script>
  </div>
  <div class="footer">
    <div class="bottom-logo">
        <img src="/images/logo_hires.png" alt="">
    </div>
    <div class="footer-content">
      <p class="Contact">Developed By :</p>
      <p>Group-36</p>
      <p>Visual Intelligence and Machine Learning Group</p>
  </div>
  </div>
  <div class="copyright">
      <p>&copy; 2024- Design Practicum, IIT Mandi</p>
  </div>
  
</body>
</html>