/* Resetting browser defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px; /* Add margin to body */
    padding-bottom: 20px; /* Add padding to bottom */
}
#courseHeading {
    font-size: 28px;
    font-weight: bold;
}
header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #001a33; /* Add a bottom border */
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Add margin to bottom */
}

.left h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="checkbox"],
button {
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    width: auto;
}

button {
    background-color: #003366;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #001a33;
}

.right {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 40px; /* Add margin to the left */
}

.right h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.records-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px; /* Add margin to bottom */
}

.records-options button {
    padding: 12px 24px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.records-options button:hover {
    background-color: #001a33;
}
